<header>
    <nav class="navbar">
        <div>
            <a href="/">
                <h1>Shape Generator</h1>
            </a>
        </div>

        <div class = "my_post">
            <a href="/my-post">
                <h1>Post</h1>
            </a>
        </div>
    </nav>
</header>